.HomeMobile {
	overflow-x: hidden;
	overflow-y: hidden;
}
.Personal-Image-Mobile {
	position: absolute;
	top: 6vh;
	left: 8vw;
	z-index: 10;
	box-shadow: #192424 2px 6px 10px 2px;
	border: solid 6px #08a973;
	border-radius: 70% 60% 80% 55%;
	width: 160px;
	height: 160px;
}
.Home-Intro-Text-Wrap-Mobile {
	position: absolute;
	top: calc(2vh + 160px + 74px);
	left: 10vw;
	background-color: #e6d6ebb3;
	padding: 10px;
	text-align: left;
}
.Home-Hook-Mobile {
	opacity: default;
	margin: 0px 0px 12px 0px;
	color: #134600;
	font-size: 22pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px 2px #78d253;
}
.Home-Intro-Personal-Name-Mobile {
	margin: 0px;
	margin-left: 8px;
	color: #08a973;
	font-size: 20pt;
	text-shadow: 2px 2px 0px hsl(180, 18%, 12%);
}
.Home-Intro-Text-Mobile {
	opacity: 1;
	margin: 12px 0px 12px 16px;
	max-width: 320px;
	color: #78d253;
	font-size: 16pt;
	line-height: 24px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 0px hsl(180, 18%, 12%);
}
.Home-Intro-Text-Last-Mobile {
	margin: 0px 0px 10px 24px;
	width: 280px;
	color: #57be2b;
	font-size: 14pt;
	line-height: 24px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 0px hsl(180, 13%, 6%);
}
.Home-Contact-Icons-Mobile {
	display: flex;
	position: absolute;
	bottom: 10px;
	left: 12vw;
	justify-content: space-between;
	gap: 10px;
	border: #75ffca 4px solid;
	border-radius: 20px;
	background-color: #08a973;
	padding: 10px 24px 10px 12px;
	width: 220px;
}
.Grapes-3D-Mobile {
	margin: 0px;
	padding: 0px;
	width: 40px;
}
