.Project-Display-Internal {
	display: flex;
	position: relative;
	flex-direction: row;
	border: 4px double black;
	border-radius: 40px;
	background-color: rgba(115, 5, 205, 0.85);
	padding: 30px 60px;
	width: 1640px;
}
.Project-Display,
.Invis-Project-Display,
.Bounce-Out-Up {
	display: relative;
	animation: BounceIn 1.5s forwards;
	animation-fill-mode: forwards;
}

.Invis-Project-Display {
	opacity: 0;
	animation: BounceOut 0.7s forwards;
	pointer-events: none;
}

@keyframes BounceIn {
	0% {
		transform: translateY(-30vh) translateX(0vw) rotate(2deg); /* Start off-screen above with rotation */
		opacity: 0;
	}
	50% {
		transform: translateY(-30px) translateX(-2.5vw); /* Slight bounce with rotation */
		opacity: 1;
	}
	100% {
		transform: translateY(0) rotate(0deg) translateX(-4vw) rotate(0deg); /* End at the final position with no rotation */
	}
}

@keyframes BounceOut {
	0% {
		transform: translateY(0) rotate(0deg) translateX(-4vw); /* Start at the final position with no rotation */
		opacity: 1;
	}
	50% {
		transform: translateY(360px) translateX(-1vw) rotate(-1deg); /* Slight bounce with rotation */
		opacity: 1;
	}
	100% {
		transform: translateY(30vh) translateX(0vw) rotate(-4deg); /* Move off-screen below with rotation */
		opacity: 0;
		margin: 0px;
		padding: 0px;
		width: 0px;
		height: 0px;
	}
}

.First-Column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	border-right: 4px ridge #b47eab;
	padding: 0px;
	padding-right: 30px;
	width: 820px;
}
.Project-Name {
	transition: font-size 0.2s linear, color 0.2s linear;

	cursor: default;
	cursor: pointer;
	margin: 0px;
	padding: 10px 20px 40px 20px;
	width: 820px;
	color: rgb(221, 169, 221);
	font-size: 54pt;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	text-align: start;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Project-Name:hover {
	color: #ec5edb;
	font-size: 58pt;
	text-decoration: underline;
}
.Feature-Wrapper {
	margin-top: 20px;
	margin-bottom: 30px;
	border: black 4px double;
	border-radius: 20px;
	background-color: #550994;
	padding-right: 0px;
	width: 800px;
}
.Bullet-Point {
	transition: all 0.3s;
	cursor: default;
	margin: 0px;
	margin-top: 44px;
	margin-bottom: 44px;
	margin-left: 50px;
	width: 720px;
	color: rgb(233, 139, 249);
	font-size: 16pt;
	line-height: 29px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	text-align: start;
	text-indent: -31px;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Bullet-Point:hover {
	transition: all 0.3s;
	color: #ec5edb;
	font-size: 18pt;
}
.Bullet-Point:hover .Bullet {
	transition: all 0.3s;
	color: #ec5edb;
	font-size: 30pt;
}
.Bullet {
	position: relative;
	top: 6px;
	margin-right: 18px;
	color: #b48cff;
	font-size: 28pt;
	text-shadow: none;
}
.Clock-Wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
	padding: 0px;
	width: 820px;
}
.ClockSvg {
	margin-left: 20px;
	width: 80px;
}
.Completed-At {
	cursor: default;
	margin: 0px;
	padding: 10px 20px;
	width: 740px;
	color: rgb(255, 255, 255);
	font-size: 20pt;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	text-align: start;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Completed-At-Emph {
	margin-bottom: 2px;
	margin-left: 4px;
	color: #ecd45e;
	font-size: 24pt;
}
.Second-Column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	padding-left: 30px;
	width: 820px;
}
.Project-Img {
	cursor: pointer;
	margin-top: 80px;
	margin-bottom: 40px;
	border: 4px double black;
	border-radius: 20px;
	width: 640px;
	height: 330px;
}
.Project-Skills-Wrapper {
	display: flex;
	column-gap: 30px;
	row-gap: 22px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	margin-top: 20px;
	margin-left: 30px;
	padding: 0px;
	width: 740px;
	max-width: 740px;
}
.Project-Skill {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 6px;
	transition: transform 0.2s linear;
	margin: 0px;
	border: 4px double black;
	border-radius: 20px;
	background-color: #550994;
	padding: 6px;
	width: 200px;
	height: 50px;
}
@keyframes shadowSway {
	0% {
		box-shadow: 0px 0px 0px 0px #550994;
	}
	50% {
		box-shadow: 0px 0px 10px 5px #550994;
	}
	100% {
		box-shadow: 0px 0px 0px 0px #550994;
	}
}
.Project-Skill:hover {
	transform: scale(1.15);
	animation: shadowSway 0.8s infinite;
	cursor: pointer;
}
.Skill-Img {
	width: 40px;
}
.Skill-Name {
	cursor: default;
	margin: 0px;
	width: 120px;
	max-width: 80px;
	color: rgb(221, 169, 221);
	font-size: 13pt;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	text-align: start;
	text-align: center;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Project-Skill:hover .Skill-Name {
	color: #b516e1;
}

@media (max-width: 840px) {
	.Project-Display-Internal {
		padding: 30px;
		padding-right: 110px;
		width: fit-content;
	}
	.First-Column {
		border-right: none;
		padding-right: 0px;
		width: 200px;
	}
	.Project-Name {
		width: 500px;
		font-size: 30pt;
	}
	.Project-Name:hover {
		font-size: 32pt;
	}
	.Feature-Wrapper {
		margin-top: 0px;
		margin-bottom: 0px;
		width: 200px;
	}
	.Bullet {
		margin-right: 6px;
	}
	.Bullet-Point {
		margin: 30px;
		width: 160px;
		font-size: 15pt;
		line-height: 22px;
		text-indent: -20px;
	}
	.Bullet-Point:hover {
		font-size: 15pt;
	}
	.ClockSvg {
		width: 60px;
	}
	.Completed-At {
		font-size: 16pt;
	}
	.Completed-At-Emph {
		font-size: 20pt;
	}
	.Second-Column {
		padding-left: 0px;
		width: 220px;
	}
	.Project-Img {
		margin-top: 110px;
		margin-left: 110px;
		width: 240px;
		height: 140px;
	}
	.Project-Skills-Wrapper {
		column-gap: 8px;
		row-gap: 20px;
		margin-left: 130px;
		max-width: 300px;
	}
	.Project-Skill {
		gap: 14px;
		padding: 10px;
		width: 110px;
		height: 30px;
	}
	.Skill-Name {
		font-size: 13pt;
		line-height: 16px;
	}
	.Skill-Img {
		width: 30px;
	}
}
