@keyframes FadeInHome {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.Home {
	display: relative;
	animation: FadeInHome 0.5s;
	width: 100vw;
	height: 100vh;
}
.Home-Intro-Text-Wrap {
	position: absolute;
	top: 24vh;
	left: 24vw;
	background-color: #e6d6ebb3;
	padding: 10px;
	pointer-events: none;
	text-align: left;
}
.Home-Hook {
	opacity: default;
	margin: 0px 0px 6px 0px;
	color: #134600;
	font-size: 52pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px 2px #78d253;
}
.Home-Intro-Text,
.Home-Intro-Personal-Name,
.Home-Intro-Text-Last {
	opacity: 1;
	margin: 38px 0px 10px 120px;
	max-width: 720px;
	color: #78d253;
	font-size: 29pt;
	line-height: 48px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 0px hsl(180, 18%, 12%);
}
.Home-Intro-Personal-Name {
	margin-left: 60px;
	color: #08a973;
	font-size: 42pt;
}
.Home-Intro-Text-Last {
	margin: 24px 0px 10px 180px;
	width: 460px;
	color: #53a231;
	font-size: 28pt;
}

.Personal-Image {
	position: absolute;
	top: 60px;
	left: 910px;
	box-shadow: #192424 2px 6px 10px 2px;
	border: solid 6px #08a973;
	border-radius: 70% 60% 80% 55%;
	width: 460px;
}

.Cherries-3D {
	position: absolute;
	top: -10px;
	left: -220px;
	width: 140px;
	pointer-events: none;
}
.Frut-Aero-Arrow {
	position: absolute;
	top: 340px;
	left: -96px;
	transform: scaleY(-1.4);
	transform: scaleX(-2.4);
	rotate: 236deg;
	z-index: 1;
	width: 220px;
	pointer-events: none;
}
.Home-Contact-Icons {
	display: flex;
	position: relative;
	top: 50px;
	right: -310px;
	gap: 20px;
	border: #75ffca 4px solid;
	border-radius: 20px;
	background-color: #08a973;
	padding: 2px 16px 2px 16px;
	width: fit-content;
}
.Grapes-3D {
	position: absolute;
	top: -18px;
	left: -108px;
	margin-right: 0px;
	width: 90px;
}
.Resume-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 60px;
}
.Email-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 70px;
}
.LinkedIn-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 50px;
}
.Github-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 50px;
}
.Email-Svg:hover,
.LinkedIn-Svg:hover,
.Github-Svg:hover,
.Resume-Svg:hover {
	transform: scale(1.1);
	cursor: pointer;
}
@keyframes RotateIn {
	0% {
		top: 40px;
		right: 160px;
		transform: scaleX(1);
		rotate: -125deg;
		opacity: 0;
	}
	100% {
		top: 60px;
		right: 110px;
		transform: scaleX(1.4);
		rotate: -44deg;
		opacity: 1;
	}
}
@keyframes RotateOut {
	0% {
		top: 60px;
		right: 110px;
		transform: scaleX(1.4);
		rotate: -44deg;
		opacity: 1;
	}
	100% {
		top: 40px;
		right: 160px;
		transform: scaleX(1);
		rotate: -125deg;
		opacity: 0;
	}
}
.Alt-Aero-Arrow,
.Alt-Aero-Arrow-Invis {
	position: absolute;
	top: 60px;
	right: 110px;
	transform: scaleX(1.4);
	rotate: -44deg;
	opacity: 1;
	z-index: 1;
	animation: RotateIn 0.3s;
	width: 90px;
	pointer-events: none;
}
.Alt-Aero-Arrow-Invis {
	top: 40px;
	right: 160px;
	transform: scaleX(1);
	rotate: -125deg;
	opacity: 0;
	animation: RotateOut 0.3s;
}

/* Width Scaling */

@media (max-width: 1900px) {
	.Home-Intro-Text-Wrap {
		top: 14vh;
		left: 18vw;
	}
	.Cherries-3D {
		top: 2px;
		left: -110px;
		width: 100px;
	}
	.Home-Hook {
		font-size: 44pt;
	}
	.Home-Intro-Personal-Name {
		margin-top: 20px;
		margin-left: 48px;
		font-size: 32pt;
	}
	.Home-Intro-Text {
		margin-top: 20px;
		margin-left: 96px;
		max-width: 540px;
		font-size: 22pt;
		line-height: 40px;
	}
	.Home-Intro-Text-Last {
		margin-top: 20px;
		margin-left: 146px;
		font-size: 20pt;
		line-height: 36px;
	}
	.Grapes-3D {
		top: -26px;
		left: -90px;
		width: 80px;
	}
	.Frut-Aero-Arrow {
		top: 280px;
		left: -50px;
		transform: scaleY(-1.4);
		transform: scaleX(-2.4);
		rotate: 236deg;
		width: 180px;
	}
	.Home-Contact-Icons {
		left: 268px;
		gap: 20px;
		padding: 10px;
	}
	.Email-Svg {
		width: 50px;
	}
	.LinkedIn-Svg {
		width: 40px;
	}
	.Github-Svg {
		width: 40px;
	}
	.Resume-Svg {
		width: 40px;
	}
	.Personal-Image {
		left: 720px;
		width: 340px;
	}
}
@media (max-width: 1530px) {
	.Home-Intro-Text-Wrap {
		top: 16vh;
		left: 14vw;
	}
	.Cherries-3D {
		top: 2px;
		left: -90px;
		width: 80px;
	}
	.Home-Hook {
		font-size: 36pt;
	}
	.Home-Intro-Personal-Name {
		margin-top: 8px;
		margin-left: 28px;
		font-size: 28pt;
	}
	.Home-Intro-Text {
		margin-left: 56px;
		max-width: 500px;
		font-size: 20pt;
		line-height: 36px;
	}
	.Home-Intro-Text-Last {
		margin-top: 20px;
		margin-left: 100px;
		font-size: 18pt;
		line-height: 32px;
	}
	.Grapes-3D {
		top: -18px;
		left: -80px;
		width: 70px;
	}
	.Frut-Aero-Arrow {
		top: 240px;
		left: -50px;
		transform: scaleY(-1.4);
		transform: scaleX(-2.4);
		rotate: 236deg;
		width: 160px;
	}
	.Home-Contact-Icons {
		top: 36px;
		left: 228px;
		gap: 20px;
		padding: 10px;
	}
	.Email-Svg {
		width: 40px;
	}
	.LinkedIn-Svg {
		width: 30px;
	}
	.Github-Svg {
		width: 30px;
	}

	.Personal-Image {
		left: 600px;
		width: 320px;
	}
	.Alt-Aero-Arrow,
	.Alt-Aero-Arrow-Invis {
		width: 70px;
	}
}

@media (max-width: 1250px) {
	.Home-Intro-Text-Wrap {
		top: 16vh;
		left: 10vw;
	}
	.Cherries-3D {
		top: -10px;
		left: -90px;
		width: 80px;
	}
	.Home-Hook {
		font-size: 30pt;
	}
	.Home-Intro-Personal-Name {
		margin-top: 8px;
		margin-left: 18px;
		font-size: 24pt;
	}
	.Home-Intro-Text {
		margin-top: 8px;
		margin-left: 36px;
		max-width: 400px;
		font-size: 16pt;

		line-height: 28px;
	}
	.Home-Intro-Text-Last {
		margin-top: 8px;
		margin-left: 60px;
		font-size: 16pt;
		line-height: 32px;
	}
	.Grapes-3D {
		top: -18px;
		left: -80px;
		width: 70px;
	}
	.Frut-Aero-Arrow {
		top: 200px;
		left: -62px;
		transform: scaleY(-1.2);
		transform: scaleX(-2);
		rotate: 236deg;
		width: 160px;
	}
	.Home-Contact-Icons {
		top: 20px;
		left: 200px;
		gap: 20px;
		padding: 10px;
	}
	.Personal-Image {
		top: 10px;
		left: 470px;
		width: 300px;
	}
}
