.Home {
	display: relative;
}
.Home-Intro-Text-Wrap {
	position: absolute;
	top: 24vh;
	left: 24vw;
	background-color: #ebf2e4;
	padding: 10px;
	text-align: left;
}
.Home-Hook {
	opacity: default;
	margin: 0px 0px 6px 0px;
	color: #134600;
	font-size: 52pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px 2px #78d253;
}
.Home-Intro-Text,
.Home-Intro-Personal-Name,
.Home-Intro-Text-Last {
	opacity: 1;
	margin: 38px 0px 10px 120px;
	max-width: 720px;
	color: #78d253;
	font-size: 29pt;
	line-height: 48px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 0px hsl(180, 18%, 12%);
}
.Home-Intro-Personal-Name {
	margin-left: 60px;
	color: #08a973;
	font-size: 42pt;
}
.Home-Intro-Text-Last {
	margin: 38px 0px 10px 180px;
	width: 460px;
	color: #75ffca;
	font-size: 28pt;
}

.Personal-Image {
	position: absolute;
	top: 60px;
	left: 910px;
	box-shadow: #192424 2px 6px 10px 2px;
	border: solid 6px #08a973;
	border-radius: 70% 60% 80% 55%;
	width: 400px;
}

.Cherries-3D {
	position: absolute;
	top: -10px;
	left: -220px;
	width: 140px;
	pointer-events: none;
}
.Frut-Aero-Arrow {
	position: absolute;
	top: 340px;
	left: -96px;
	transform: scaleY(-1.4);
	transform: scaleX(-2.4);
	rotate: 236deg;
	z-index: 1;
	width: 220px;
	pointer-events: none;
}
.Home-Contact-Icons {
	display: flex;
	position: relative;
	top: 50px;
	right: -310px;
	gap: 30px;
	border: #75ffca 4px solid;
	border-radius: 20px;
	background-color: #08a973;
	padding: 2px 16px 2px 10px;
	width: fit-content;
}
.Grapes-3D {
	position: absolute;
	top: -18px;
	left: -108px;
	margin-right: 0px;
	width: 90px;
}
.Email-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 70px;
}
.LinkedIn-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 50px;
}
.Github-Svg {
	transition: transform 0.15s;
	padding: 0px;
	width: 50px;
}
.Email-Svg:hover,
.LinkedIn-Svg:hover,
.Github-Svg:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* Width Scaling */

@media (max-width: 2000px) {
	.Home-Intro-Text-Wrap {
		top: 14vh;
		left: 18vw;
	}
	.Cherries-3D {
		top: 2px;
		left: -110px;
		width: 100px;
	}
	.Home-Hook {
		font-size: 44pt;
	}
	.Home-Intro-Personal-Name {
		margin-top: 20px;
		margin-left: 48px;
		font-size: 32pt;
	}
	.Home-Intro-Text {
		margin-top: 20px;
		margin-left: 96px;
		max-width: 540px;
		font-size: 22pt;
		line-height: 40px;
	}
	.Home-Intro-Text-Last {
		margin-top: 20px;
		margin-left: 146px;
		font-size: 20pt;
		line-height: 36px;
	}
	.Grapes-3D {
		top: -26px;
		left: -90px;
		width: 80px;
	}
	.Frut-Aero-Arrow {
		top: 280px;
		left: -50px;
		transform: scaleY(-1.4);
		transform: scaleX(-2.4);
		rotate: 236deg;
		width: 180px;
	}
	.Home-Contact-Icons {
		left: 268px;
		gap: 20px;
	}
	.Email-Svg {
		width: 50px;
	}
	.LinkedIn-Svg {
		width: 40px;
	}
	.Github-Svg {
		width: 40px;
	}
	.Personal-Image {
		left: 720px;
		width: 300px;
	}
}
