.ProjectsMobile {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}
@keyframes MobileTitleSlide {
	0% {
		top: -40px;
		left: -40px;
	}

	100% {
		top: 2vh;
		left: 3vw;
	}
}
.Projects-Header-Wrapper-Mobile {
	display: flex;
	position: absolute;
	top: 2vh;
	left: 3vw;
	flex-direction: row;
	gap: 4px;
	animation: MobileTitleSlide 0.7s;
}
.Banana-Mobile {
	position: relative;
	top: 6px;
	width: 60px;
}
.Projects-Header-Mobile {
	color: rgb(221, 169, 221);
	font-size: 20pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Slider-Wrap-Mobile {
	position: absolute;
	top: 32px;
	left: -80px;
	transform: scale(0.6);
}
@keyframes NavSlideIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes NavJiggle {
	0% {
		transform: scale(0.68);
	}

	50% {
		transform: scale(0.55);
	}

	100% {
		transform: scale(0.68);
	}
}
.Slider-Nav-Wrapper-Mobile {
	display: flex;
	position: absolute;
	top: 58px;
	left: 0px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: scale(0.68);
	animation: NavJiggle 2s infinite 2s forwards, NavSlideIn 0.45s linear;
}
.Slider-Nav-Wrapper-Mobile-NoJiggle {
	display: flex;
	position: absolute;
	top: 58px;
	left: 0px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: scale(0.68);
}
.Slider-Nav-Indicators-Mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.Slider-Indicator-Mobile {
	width: 12px;
}
.Slider-Next-Mobile {
	border: none;
	background-color: rgb(0, 0, 0, 0);
}
.Slider-Next-Mobile:hover {
	border: none;
}
.Right-Arrow-Mobile {
	transform: rotate(90deg);
	width: 100px;
}
