.Education {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@keyframes AmbientJiggle {
	0% {
		transform: translate(-48%, -48%) translateX(0px) translateY(0px)
			rotate(0deg);
	}
	25% {
		transform: translate(-48%, -48%) translateX(1px) translateY(1px)
			rotate(0.5deg);
	}
	50% {
		transform: translate(-48%, -48%) translateX(2px) translateY(2px)
			rotate(1deg);
	}
	75% {
		transform: translate(-48%, -48%) translateX(1px) translateY(1px)
			rotate(0.5deg);
	}
	100% {
		transform: translate(-48%, -48%) translateX(0px) translateY(0px)
			rotate(0deg);
	}
}
@keyframes BullSlideIn {
	0% {
		top: -100px;
		left: -100px;
		transform: rotate(60deg) scale(0.7);
	}
	100% {
		top: 40px;
		left: 40px;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes ICPCTagSlideIn {
	0% {
		bottom: -8vh;
		left: -6vw;
		transform: rotate(60deg) scale(0.7);
	}
	100% {
		bottom: 24vh;
		left: 1vw;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes ICPCLogoSlideIn {
	0% {
		bottom: -100px;
		left: -100px;
		transform: rotate(100deg) scale(0.7);
	}
	100% {
		bottom: 20px;
		left: 150px;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes USFLogoSpin {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes TitleSlideIn {
	0% {
		top: -140px;
		left: 28vw;
		transform: rotate(60deg) scale(0.7);
	}
	100% {
		top: 26px;
		left: 28vw;
		transform: rotate(0deg) scale(1);
	}
}

.USF-Bull {
	position: absolute;
	top: 40px;
	left: 40px;
	animation: BullSlideIn 0.5s;
	animation-iteration-count: 1;
	box-shadow: black -1px 0px 2px 6px;
	border: solid 6px white;
	border-radius: 50% 40% 50% 40%;
	width: max(240px, 14vw);
}
.ICPC-Logo {
	position: absolute;
	bottom: 20px;
	left: 150px;
	z-index: 10;
	animation: ICPCLogoSlideIn 0.5s ease-in;
	box-shadow: black -1px 0px 2px 6px;
	border: solid 6px white;
	border-radius: 40% 50% 40% 50%;
	width: max(240px, 14vw);
}
.ICPC-Tag {
	position: absolute;
	bottom: 24vh;
	left: 1vw;
	animation: ICPCTagSlideIn 0.5s;
	box-shadow: black -1px 0px 2px 6px;
	border: solid 6px white;
	border-radius: 40% 50% 40% 50%;
	width: max(210px, 12vw);
}
.USF-Logo {
	position: absolute;
	right: 20px;
	bottom: 30px;
	animation: USFLogoSpin 0.5s;
	box-shadow: black -1px 0px 2px 6px;
	border: solid 6px white;
	border-radius: 50%;
	width: max(240px, 14vw);
}
.Education-Content-Main {
	position: absolute;
	top: 50%;
	left: 50%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 10px;
	transform: translate(-48%, -48%);
	animation: AmbientJiggle 11s infinite;

	box-shadow: black 2px 2px 4px 6px;
	border: solid 6px white;
	border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
	background-color: rgba(210, 199, 149, 0.8);
	width: min(76vw, 1800px);
	height: 68vh;
}

.Education-Header-Wrapper {
	display: flex;
	position: absolute;
	top: 26px;
	left: 28vw;
	gap: 20px;
	animation: TitleSlideIn 0.5s;
}
.Strawberry {
	width: 100px;
}
.Education-Bullets {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 10px;
}
.Education-Header {
	margin: 0px;
	padding: 0px;
	padding-top: 16px;
	color: #ffffff;
	font-size: 42pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 4px black;
}

.Education-Major,
.Education-Honors,
.Education-GPA,
.Education-Hackathon,
.Education-Programming,
.Education-ICPC,
.Education-Graduate {
	position: relative;
	top: 106px;
	left: 8vw;
	margin: 0px;
	color: #197556;
	font-weight: 500;
	font-size: 23pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #08a973;
}
.Education-Bullet {
	color: black;
}
.Education-Bullet-Emph {
	color: #ffffff;
	font-size: 24pt;
	text-shadow: 2px 2px 2px #08a973;
}
.Education-GPA {
	position: relative;
	top: 100px;
	left: 11.5vw;
}
.Education-Honors {
	position: relative;
	top: 112px;
	left: 6vw;
}
.Education-Hackathon {
	position: relative;
	top: 118px;
	left: 5vw;
}
.Education-Programming {
	position: relative;
	top: 124px;
	left: 5.5vw;
}
.Education-ICPC {
	position: relative;
	top: 130px;
	left: 7vw;
}
@media (max-height: 970px) {
	.Education-Major,
	.Education-Honors,
	.Education-GPA,
	.Education-Hackathon,
	.Education-Programming,
	.Education-ICPC,
	.Education-Graduate {
		font-size: 20pt;
	}
	.Education-Bullet-Emph {
		font-size: 20pt;
	}
}
@media (max-width: 1900px) {
	.Education-Header {
		margin-top: -20px;
		font-size: 36pt;
	}
	.Strawberry {
		margin-top: -14px;
		width: 80px;
	}
	.Education-Bullets {
		top: -10px;
		left: -10px;
	}
	.Education-Major,
	.Education-Honors,
	.Education-GPA,
	.Education-Hackathon,
	.Education-Programming,
	.Education-ICPC,
	.Education-Bullet-Emph {
		font-size: 20pt;
	}
}

@media (max-width: 1730px) {
	.USF-Bull {
		width: 180px;
	}
	.ICPC-Logo {
		width: 180px;
	}
	.ICPC-Tag {
		width: 160px;
	}
	.USF-Logo {
		width: 180px;
	}
	.Education-Bullets {
		top: -30px;
		left: -20px;
	}
	.Education-Major,
	.Education-Honors,
	.Education-GPA,
	.Education-Hackathon,
	.Education-Programming,
	.Education-ICPC,
	.Education-Bullet-Emph {
		font-size: 18pt;
	}
}

@media (max-width: 1520px) {
	.Education-Bullets {
		top: -38px;
		left: -22px;
	}
	.Education-Major,
	.Education-Honors,
	.Education-GPA,
	.Education-Hackathon,
	.Education-Programming,
	.Education-ICPC,
	.Education-Bullet-Emph {
		font-size: 15pt;
	}
}

@media (max-width: 1340px) {
	.Education-Header {
		font-size: 28pt;
	}
	.Strawberry {
		margin-top: -10px;
		width: 60px;
	}
}

@media (max-width: 1250px) {
	.Education-Bullets {
		top: -30px;
		left: -16px;
	}
	.Education-Major,
	.Education-Honors,
	.Education-GPA,
	.Education-Hackathon,
	.Education-Programming,
	.Education-ICPC,
	.Education-Bullet-Emph {
		font-size: 14pt;
	}
}
