.Techstack {
	width: 100vw;
	height: 100vh;
}
@keyframes TechstackHeaderSlideIn {
	0% {
		left: -400px;
	}
	100% {
		left: -120px;
	}
}
.Techstack-Header-Wrapper {
	display: flex;
	position: absolute;
	top: 30vh;
	left: -120px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	transform: translateY(-50%);
	animation: TechstackHeaderSlideIn 0.5s ease-out;
}
.Techstack-Header {
	display: inline-block;
	position: relative;
	top: 220px;
	transform: rotate(270deg);
	margin: 0px;
	color: #a23e20;
	font-size: 58pt;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-shadow: black 1px 1px 1px;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Apple {
	position: relative;
	top: 44px;
	right: -20px;
	width: 120px;
}
.Bowl {
	position: relative;
	top: 400px;
	right: -10px;
	width: 120px;
}
@keyframes TechstackContentSlideIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.Techstack-Content {
	display: flex;
	position: absolute;
	top: 36px;
	left: 200px;
	flex-direction: column;
	gap: 35px;
	animation: TechstackContentSlideIn 0.8s ease-out;
	border-radius: 20px;
	background-color: #ffc2ad84;
}

.Techstack-Segment {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border: double #540552 4px;
	border-radius: 30px;
	background-color: #fdb0b084;
	padding: 20px 20px;
}
.Segment-Text-Wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
}
.Techstack-Segment-Header {
	margin: 0px;
	padding: 10px;
	padding-bottom: 4px;
	width: 540px;
	color: rgb(72, 9, 17);
	font-size: 44pt;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: left;
	text-decoration: underline 2px;
	text-shadow: 1px 1px 4px rgb(237, 206, 28);
}
.Techstack-Segment-Subtitle {
	margin: 0px;
	padding: 10px;
	padding-top: 4px;
	width: 490px;
	color: rgb(0, 0, 0);
	font-size: 20pt;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: left;
}
.Techstack-Skills-Wrapper {
	display: flex;
	column-gap: 30px;
	row-gap: 22px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	margin-left: 30px;
	padding: 0px;
	width: 1040px;
	max-width: 1040px;
}
.Techstack-Skill {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 6px;
	transition: transform 0.2s linear;
	cursor: pointer;
	margin: 0px;
	border: 4px double black;
	border-radius: 20px;
	background-color: #945809;
	padding: 6px;
	width: 170px;
	height: 50px;
}
.Techstack-Skill-Name {
	cursor: default;
	margin: 0px;
	width: 120px;
	max-width: 80px;
	color: #fffd9a;
	font-size: 13pt;
	line-height: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	text-align: start;
	text-align: center;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Techstack-Skill-Img {
	margin-right: 8px;
	width: 44px;
}
.Techstack-Skill-Img-Small {
	margin-right: 8px;
	width: 36px;
}

@media (max-width: 2020px) {
	.Techstack-Header-Wrapper {
		top: 20vh;
		left: -100px;
	}
	.Apple {
		top: 80px;
		width: 100px;
	}
	.Bowl {
		top: 370px;
		width: 100px;
	}
	.Techstack-Header {
		font-size: 48pt;
	}
	.Techstack-Content {
		top: 0px;
		left: 40px;
		gap: 18px;
		transform: scale(0.85) scaleY(1);
	}
}

@media (max-width: 1750px) {
	.Techstack-Content {
		top: -50px;
		left: -50px;
		gap: 14px;
		transform: scale(0.75) scaleY(1);
	}
}

@media (max-width: 1580px) {
	.Techstack-Content {
		top: -110px;
		left: -110px;
		gap: 14px;
		transform: scale(0.68) scaleY(1);
	}
	.Techstack-Header-Wrapper {
		top: 16vh;
		left: -84px;
	}
	.Techstack-Header {
		font-size: 42pt;
	}
	.Apple {
		top: 120px;
		left: 8px;
		width: 80px;
	}
	.Bowl {
		top: 340px;
		left: 2px;
		width: 80px;
	}
}

@media (max-width: 1470px) {
	.Techstack-Content {
		top: -160px;
		left: -210px;
		gap: 14px;
		transform: scale(0.6) scaleY(1);
	}
}
