.Contact-Svg-Top:hover {
	scale: 1.1;
	padding: 2px;
}
.Navbar-Expand-Button {
	display: flex;
	position: absolute;
	top: 100px;
	right: 0px;
	flex-direction: column;
	gap: 4px;
	background-color: #ebf2e4;
}
.Navbar-Expand-Button:hover {
	border: none;
}
.Top-Menu-Line {
	transition-duration: 0.4s;
	transition-property: all;
	margin: 0px;
	margin-bottom: 8px;
	width: 36px;
}
.Bottom-Menu-Line {
	position: relative;
	left: 8px;
	transition-duration: 0.4s;
	transition-property: all;
	margin: 0px;
	width: 28px;
}
.Navbar-Expand-Button:hover .Top-Menu-Line {
	rotate: -310deg;
	color: #78d253;
}
.Navbar-Expand-Button:hover .Bottom-Menu-Line {
	transform: translate(5px, -15px);
	rotate: 310deg;
	width: 36px;
	color: #78d253;
}
#root {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1280px;
	text-align: center;
}

.logo {
	transition: filter 300ms;
	will-change: filter;
	padding: 1.5em;
	height: 6em;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
