html {
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
.Invis {
	display: none;
}
.Contact-Svg-Top:hover {
	scale: 1.1;
	padding: 2px;
}
.Navbar-Expand-Button {
	display: flex;
	position: absolute;
	top: 50px;
	right: 10px;
	flex-direction: column;
	gap: 4px;
	z-index: 100;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.Top-Menu-Line {
	transition-duration: 0.4s;
	transition-property: all;
	margin: 0px;
	margin-bottom: 8px;
	border-style: solid;
	border-color: black;
	width: 36px;
	pointer-events: none;
	color: black;
}
.Bottom-Menu-Line {
	position: relative;
	left: 8px;
	transition-duration: 0.4s;
	transition-property: all;
	margin: 0px;
	border-style: solid;
	border-color: black;
	width: 28px;
	pointer-events: none;
	color: black;
}
.Navbar-Expand-Button:hover .Top-Menu-Line {
	rotate: -310deg;
	border-color: #78d253;
	color: #78d253;
}
.Navbar-Expand-Button:hover .Bottom-Menu-Line {
	transform: translate(5px, -15px);
	rotate: 310deg;
	border-color: #78d253;
	width: 36px;
	color: #78d253;
}
@keyframes NavbarSlideIn {
	0% {
		transform: translateX(130px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes NavbarSlideOut {
	0% {
		left: -40px;
	}
	100% {
		left: 90px;
	}
}
.Navbar-Container,
.Navbar-Invis {
	display: flex;
	position: absolute;
	top: 30px;
	right: 0px;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	z-index: 10;
	background-color: rgba(246, 212, 212, 0);
	padding: 1rem;
	padding-right: 14px;
	padding-bottom: 20px;
	padding-left: 20px;
	height: 300px;
}
.Navbar-Invis {
	left: 120px;
	animation: NavbarSlideOut 0.3s;
	pointer-events: none;
}
.Navbar-Container {
	animation: NavbarSlideIn 0.3s;
}
.Navbar-Link {
	transition: color 0.15s;
	color: #54a833;
	font-weight: 600;
	font-size: 24px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: black 1px 1px 1px;
}
.Navbar-Link-Active {
	color: #d27d53;
	font-weight: 600;
	font-size: 24px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: black 1px 1px 1px;
}
.Navbar-Link:hover {
	color: #54e01c;
}
.Navbar-Link-Active:hover {
	color: #d27d53;
}

#root {
	margin: 0 auto;
	padding: 2rem;
	max-width: 1280px;
	max-width: 100%;
	overflow-x: hidden;
	text-align: center;
}

.logo {
	transition: filter 300ms;
	will-change: filter;
	padding: 1.5em;
	height: 6em;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

@media (max-width: 740px) {
	.Navbar-Link {
		font-size: 18px;
	}
	.Navbar-Link-Active {
		font-size: 18px;
	}
	.Navbar-Link:hover {
		color: #54e01c;
	}
	.Navbar-Link-Active:hover {
		color: #d27d53;
	}
	.Navbar-Container,
	.Navbar-Invis {
		top: 12px;
		height: 200px;
	}
	.Navbar-Expand-Button {
		top: 20px;
		right: 0px;
	}
	.Navbar-Text {
		left: 20px;
		margin: 4px;
	}
}

@media (max-height: 9000px) {
	.Navbar-Container,
	.Navbar-Invis {
		height: 100px;
	}
	.Navbar-Text {
		margin: 5px;
	}
}
