.EducationMobile {
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
@keyframes MobileTitleSlide {
	0% {
		top: -100px;
		left: -100px;
		transform: rotate(30deg) scale(0.7);
	}
	100% {
		top: 1vh;
		left: 4vw;
		transform: rotate(0deg) scale(1);
	}
}
.Mobile-Bull {
	position: absolute;
	top: 90px;
	left: 20px;
	animation: BullSlideIn 0.5s linear;
	border: white solid 1px;
	border-radius: 44% 60%;
	width: 140px;
}
.Education-Hook-Wrap-Mobile {
	display: flex;
	position: absolute;
	top: 1vh;
	left: 4vw;
	flex-direction: row;
	gap: 0px;
	animation: MobileTitleSlide 0.5s;
}
.Education-Hook-Mobile {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	padding-top: 16px;
	max-width: 260px;
	color: #ffffff;
	font-size: 14pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 4px rgb(242, 65, 65);
}
.Strawberry-Img-Mobile {
	position: relative;
	top: 10px;
	width: 50px;
}
@keyframes MainFadeIn {
	0% {
		top: 400px;
	}
	100% {
		top: 86px;
	}
}
@keyframes BullSlideIn {
	0% {
		top: -10px;
		left: -90px;
		transform: rotate(20deg);
	}
	100% {
		top: 90px;
		left: 20px;
		transform: rotate(0deg);
	}
}
.Education-Content-Main-Mobile {
	position: relative;
	top: 86px;
	animation: MainFadeIn 0.5s linear;
	border: #ffffff 1px solid;
	background-color: rgba(210, 199, 149, 0.8);
	width: 80vw;
	height: 460px;
}
.Education-Bullets-Mobile {
	display: flex;
	position: absolute;
	top: -80px;
	left: 0px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	gap: 16px;
}
.Education-Major-Mobile,
.Education-Honors-Mobile,
.Education-GPA-Mobile,
.Education-Hackathon-Mobile,
.Education-Programming-Mobile,
.Education-ICPC-Mobile,
.Education-Graduate-Mobile {
	position: relative;
	top: 106px;
	left: 8vw;
	margin: 0px;
	max-width: 68vw;
	color: #197556;
	font-weight: 500;
	font-size: 11pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	text-indent: -17px;
	text-shadow: 2px 2px 2px #08a973;
}
.Education-Bullet-Emph-Mobile {
	color: #ffffff;
	font-size: 11pt;
	text-shadow: 2px 2px 2px #08a973;
}
.Education-Bullet-Mobile {
	margin-right: 4px;
	color: black;
}
