.Projects {
	width: 100vw;
	height: 100vh;
}
@keyframes HeaderSlideIn {
	0% {
		transform: translateY(-100px) rotate(6deg);
		opacity: 0.3;
	}
	100% {
		transform: translateY(0px) rotate(0deg);
		opacity: 1;
	}
}
.Projects-Header-Wrapper {
	display: flex;
	position: absolute;
	top: 30px;
	left: 80px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	animation: HeaderSlideIn 1s;
}
.Projects-Header {
	display: inline-block;
	margin: 0px;
	color: rgb(221, 169, 221);
	font-size: 52pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Banana {
	position: relative;
	top: 10px;
	width: 120px;
}
.Slider-Wrap {
	position: absolute;
	top: 240px;
	left: 50vw;
	flex-direction: row;
	transform: translateX(-50%);
	max-width: 1740px;
}
.Slider {
	display: inline-block;
}
.Slider-Nav-Wrapper {
	display: flex;
	position: absolute;
	top: 50%;
	right: 100px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}
.Slider-Nav-Indicators {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
.Slider-Indicator {
	width: 12px;
}
.Slider-Next {
	border: none;
	background-color: rgb(0, 0, 0, 0);
}
.Slider-Next:hover {
	border: none;
}
@keyframes jiggle {
	0% {
		transform: translateY(10px) rotate(90deg);
	}
	50% {
		transform: translateY(0px) rotate(90deg);
	}
	100% {
		transform: translateY(10px) rotate(90deg);
	}
}
.Right-Arrow {
	transform: rotate(90deg);
	width: 100px;
}
.Right-Arrow:hover {
	animation: jiggle 1.5s infinite;
}

@media (max-width: 2200px) {
	.Slider-Wrap {
		top: 160px;
		left: 42vw;
		transform: scale(0.9) translateX(-50%);
	}
}
@media (max-width: 1960px) {
	.Projects-Header-Wrapper {
		top: 20px;
		left: 80px;
	}
	.Projects-Header {
		font-size: 42pt;
	}
	.Banana {
		width: 100px;
	}
	.Slider-Wrap {
		top: 70px;
		left: 37vw;
		transform: scale(0.8) translateX(-50%);
	}
	.Slider-Nav-Wrapper {
		right: 50px;
	}
}
@media (max-width: 1730px) {
	.Projects-Header-Wrapper {
		top: 20px;
		left: 80px;
	}
	.Projects-Header {
		font-size: 42pt;
	}
	.Banana {
		width: 100px;
	}
	.Slider-Wrap {
		top: 70px;
		left: 36vw;
		transform: scale(0.75) translateX(-50%);
	}
	.Slider-Nav-Wrapper {
		right: 50px;
	}
}
@media (max-width: 1640px) {
	.Slider-Wrap {
		top: 20px;
		left: 24vw;
		transform: scale(0.65) translateX(-50%);
	}
	.Slider-Nav-Wrapper {
		right: 50px;
	}
}

@media (max-width: 1480px) {
	.Projects-Header {
		font-size: 36pt;
	}
	.Banana {
		width: 80px;
	}
	.Slider-Wrap {
		top: -10px;
		left: 20vw;
		transform: scale(0.6) translateX(-50%);
	}
	.Slider-Nav-Wrapper {
		right: 0px;
	}
}
@media (max-width: 1280px) {
	.Slider-Wrap {
		top: -30px;
		left: 12vw;
		transform: scale(0.55) translateX(-50%);
	}
}

@media (max-width: 1160px) {
	.Slider-Nav-Wrapper {
		top: 300px;
		right: -20px;
		transform: scale(0.8);
	}
}
