.Projects {
	width: 100vw;
	height: 100vh;
}
.Projects-Header-Wrapper {
	display: flex;
	position: absolute;
	top: 30px;
	left: 80px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.Projects-Header {
	display: inline-block;
	margin: 0px;
	color: rgb(221, 169, 221);
	font-size: 52pt;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.Banana {
	position: relative;
	top: 10px;
	width: 120px;
}
.Slider-Wrap {
	position: absolute;
	top: 240px;
	left: 50vw;
	flex-direction: row;
	transform: translateX(-50%);
	max-width: 500px;
}
.Slider {
	display: inline-block;
}

.Slider-Prev {
	position: absolute;
	top: 50%;
	left: -180px;
	transform: translateY(-50%);
	border: none;
	background-color: rgb(0, 0, 0, 0);
}
.Slider-Next {
	position: absolute;
	top: 50%;
	right: -180px;
	transform: translateY(-50%);
	border: none;
	background-color: rgb(0, 0, 0, 0);
}
.Slider-Prev:hover,
.Slider-Next:hover {
	border: none;
}
.Left-Arrow {
	width: 100px;
}
.Right-Arrow {
	width: 100px;
}
